<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% extends 'store/main.html' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Store</title>
    </head>
<body>
    {% block content %}
        <h2>User Information</h2>
        {% if user.is_authenticated %}
            <form action="/account/update" method="POST">
                {% csrf_token %}
                <label>Username: <input type="text" name='username' value='{{user.username}}'></label>
                <label>Email: <input type="email" name='email' value='{{user.email}}'></label>
                <!-- <label>Password: <input type="password" name='password' value='{{user.password}}'></label>
                <label>Confirm Password: <input type="password" name='password' value='{{user.password}}'></label> -->
                <button type="submit">Update</button>
            </form>
        {% endif %}
        <h2>Liked Products</h2>
        {% for likedItem in likedItems %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{likedItem.imageURL}}"></div>
                <div style="flex:2"><p>{{likedItem.name}}</p></div>
                <div style="flex:1"><p>${{likedItem.price}}</p></div>
                <button data-product={{likedItem.id}} data-action='add' class='btn btn-outline-secondary add-btn update-cart'>Add to Cart</button>
                <a class='btn btn-outline-danger' href="/{{likedItem.id}}/unlike">Remove</a>
            </div>
        {% endfor %}
    {% endblock content %}
</body>
</html>