<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends 'store/main.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Store</title>
</head>
<body>
    {% block content %}
        <div class='row'>
            {% for product in products %}
            <div class="col-lg-4">
                <img class='thumbnail' src="{{product.imageURL}}" alt="product_image">
                <div class='box-element product'>
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr>
                    <button data-product={{product.id}} data-action='add' class='btn btn-outline-secondary add-btn update-cart'>Add to Cart</button>
                    
                    {% if user.is_authenticated %}
                        {% if product.users_who_favorited.all %}
                            {% if user in product.users_who_favorited.all %}
                                <a class='btn btn-outline-danger' href="/{{product.id}}/unfavorite">Like</a>
                            {% else %}
                                <a class='btn btn-outline-success' href="/{{product.id}}/favorite">Like</a>
                            {% endif %}
                        {% else %}
                            <a class='btn btn-outline-success' href="/{{product.id}}/favorite">Like</a>
                        {% endif %}
                    {% else %}
                        <a class='btn btn-outline-success' href="/login">Like</a>
                    {% endif %}
                    <h4 style='display: inline-block;'>${{product.price |floatformat:2}}</h4>
                    {% if product.users_who_favorited.all %}
                    <p>{{product.users_who_favorited.count}} user(s) liked this product</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    {% endblock content %}
</body>
</html>