<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% extends 'store/main.html' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Store</title>
    </head>
<body>
    {% block content %}
        <div>
            <form action="" method='GET'>
                <input type="text" name='city' class='form-control text-center' placeholder='Enter City' required>
                <button class='btn btn-outline-secondary' type='submit'>Search</button>
            </form>
            <p>{{weather}}</p>
        </div>
    {% endblock content %}
</body>
</html>